[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git
[submodule "source/nanoflann"]
	path = source/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "source/Eigen"]
	path = source/Eigen
	url = https://gitlab.com/libeigen/eigen.git
